[user]
	name = Nicolas Germeau
	email = ngermeau@icloud.com

[color]
  ui = auto

[alias]
  st = status
  co = commit --verbose
  ch = checkout
  chb= checkout -b

[credential]
  helper = cache

[core]
  editor = vim
	autocrlf = input
