set clipboard+=unnamed
set number relativenumber
set ideajoin
set idearefactormode=keep
set NERDTree
set showmode
set showcmd
set visualbell
set scrolloff=10
set ignorecase
set smartcase
set incsearch
set hlsearch
set highlightedyank
set surround
set notimeout

let mapleader = " "

imap jj <Esc>

" Goto navigation
nmap gi :action GotoImplementation<CR>
nmap gd :action GotoDeclaration<CR>
nmap gy :action GotoTypeDeclaration<CR>
nmap go :action QuickJavaDoc<CR>
nmap K :action QuickImplementations<CR>

" Errors
nmap [e :action GotoPreviousError<CR>
nmap ]e :action GotoNextError<CR>

" Actions
nmap <leader>v :action GotoAction<CR>

" Files
nmap <leader>fn :action NewElement<CR>
nmap <leader>fr :action RecentFiles<CR>
nmap <leader>ff :action GotoFile<CR>

" Search
nmap <leader>sg :action FindInPath<CR>

" Various tool windows
nmap <leader>e :action ActivateProjectToolWindow<CR>
nmap <leader>l :action ActivateTerminalToolWindow<CR>

" git
nmap <leader>gc :action ActivateVersionControlToolWindow<CR>
nmap <leader>gg :action QuickList.git<CR>
nmap <leader>rr  :action QuickList.run<CR>

" change terminal setting to avoid esc to jump back to focus editor (on the internet)
